[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/ishubhamsingh
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ishubhamsingh
	label-Verified = -1..+1 group user/ishubhamsingh
	push = group user/ishubhamsingh
	read = group user/ishubhamsingh
	rebase = group user/ishubhamsingh
	removeReviewer = group user/ishubhamsingh
	submit = group user/ishubhamsingh
[access "refs/heads/*"]
	create = group user/ishubhamsingh
	push = +force group user/ishubhamsingh
	pushMerge = group user/ishubhamsingh
	read = group user/ishubhamsingh
[access "refs/tags/*"]
	push = group user/ishubhamsingh
	push = +force group user/ishubhamsingh
